.preview {
    flex: 1;
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 0 8px var(--shadow-color);
    padding: 16px;
    overflow-y: auto;
    color: var(--text-primary);
}

/* Отключаем панель инструментов */
math-field {
    --mathlive-toolbar: none;
}

/* Скрываем клавиатуру */
.mathlive-container .mathlive-keyboard {
    display: none;
}

/* Скрываем иконку бургера */
.mathlive-container .mathlive-menu {
    display: none;
}

/* Скрываем кнопки "вставить" или другие элементы */
.mathlive-container .mathlive-button {
    display: none;
}


.preview-container {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg-primary);
    color: #fff;
    font-size: 18px;
    border: 1px solid var(--border-color);
}



math-field {
    width: 100%;
    background: transparent;
    border: none;
    color: var(--text-primary);
    font-family: 'Courier New', monospace; /* Похожий на шрифт для кода */
    font-size: 20px;
    color: var(--text-primary);
}

.mathlive-container {
    padding: 0; /* Убираем лишние отступы */
    position: relative;
}

math-field::part(menu-toggle) {
    position: absolute;
    right: 50px;
  }

math-field::part(virtual-keybord-toggle) {
position: absolute;
top: 13px;
right: 50px;
}
